html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background: #FAFAFA;
}

.no-padding {
  padding: 0;
}

.mdl-layout__header-row {
    padding: 0 40px 0 40px;
}

.portfolio-drawer-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 150px;
  background: #009688;
}

.portfolio-proficiency {
  margin-left: 32px;
}

.portfolio-proficiency-icon {
  width: auto;
  height: 64px;
}

.portfolio-nav-name {
  width: 100%;
  display: block;
  color: #fff;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-card-content {
  max-width: 600px;
}

.portfolio-card-image {
  height: auto;
  width: 100%;
  background: url('images/header.jpg') no-repeat center center fixed;
  object-fit: cover;
}

#projects-card-omnia > .mdl-card__title {
    height: 176px;
    background: url('images/omnia.png') center / cover;
}

#projects-card-play > .mdl-card__title {
    height: 176px;
    background: url('images/android.jpg') center / cover;
}

.fa {
  font-size: 2em !important;
  color: #757575;
}

.mdl-mini-footer {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mdl-mini-footer ul {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.mdl-mini-footer .contact-icon {
  margin: 0 16px;
  width: 24px;
  height: 24px;
  list-style-type: none;
  padding: 0;
}
