html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.no-padding {
  padding: 0;
}

.portfolio-drawer-header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 16px;
  height: 150px;
  background: #009688;
}

.portfolio-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  display: block;
}

.portfolio-proficiency {
  margin-left: 32px;
}

.portfolio-proficiency-icon {
  width: 64px;
  height: 64px;
}

.portfolio-nav-name {
  width: 100%;
  display: block;
  color: #fff;
}

.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}

.portfolio-card-content {
  max-width: 600px;
}

.portfolio-card-image {
  width: 100%;
  height: auto;
}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mdl-navigation__link .material-icons {
  margin-right: 32px;
}

.mdl-layout__drawer {
  border-right: none;
}
